<!DOCTYPE html>
<html ng-app="jamApp" ng-controller="MainController">
	<head>
		<title>Jam!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script src="mainController.js"></script>
		<scipt src="./js/index.js"></script>
	</head>

	<body>
		<ui-view></ui-view>

		<script type="text/ng-template" id="/home.html">
			<div class="page-header">
				<h1>Welcome to Jam!</h1>
			</div>

			<div ng-repeat="song in songs | orderBy: '-upvotes'">
				<span ng-click="incrementUpvotes(song)">^</span>
				{{song.spotifyId}} - upvotes: {{song.upvotes}}
			</div>

			<form ng-submit="addSong()">
				<input type="text" placeholder="Spotify Id" ng-model="sid"></input>
				<button type="submit">Add Song</button>
			</form>
		</script>
	</body>

</html>
