<!DOCTYPE html>
<html ng-app="jamApp" ng-controller="MainController">
	<head>
		<title>Jam!</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<script src="./node_modules/angular/angular.js" type="text/javascript" ></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
			<!-- TODO: Should the above be made local like the other scripts here? -->
		<link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
		<script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
		<script src="//connect.soundcloud.com/sdk.js"></script>
		<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>

		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>

		<link rel="stylesheet" type="text/css" href="css/favorite.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">

		<script src="mainController.js"></script>
		<script src="./js/jamApp.js"></script>
		<script src="./js/services.js"></script>

		<!-- <scipt src="./js/index.js"></script> -->
			<!-- TODO: Do we need the above file?? -->
	</head>

	<body>
		<ui-view></ui-view>
			<!-- This mechanic - using ui-view and putting the html in a script with an
			id - (or a similar mechanic) will be important when we start having other
			views, like a room-creation view, nearby-room view, etc -->

		<script type="text/ng-template" id="/home.html">
			<div class = "left">
				<img src="img/logo.png" class="logo">
			</div>
			<div class = "middle">
				<p class = "title">NOW PLAYING</p>
				<div class="image-cropper">
					<div class="imageHolder">
						<img src="img/album1.jpg" class = "songImg"/>
						<img src="img/circle.png" class = "border"/>
					</div>

				</div>
				<p class = "songname">{{main.songName}}</p>
				<p class = "songartist">{{main.artist}}</p>

			</div>

			<div class="right">

				<p class = "lastPlayed">LAST PLAYED</p>
				<div class = "lastPlayedLine">
					<hr>
				</div>
				<div class = "lastPlayedSection">
					<div class = "songInfo">
						<p class = "lastPlayedTitle">{{main.lastPlayedTitle}}</p>
						<p class = "lastPlayedArtist">{{main.lastPlayedArtist}}</p>
					</div>
					<div class = "likeButtonSection">
						<div class='like-wrapper'>
							<a class='like-button'>
								<span class='like-icon'>
									<div class='heart-animation-1'></div>
									<div class='heart-animation-2'></div>

								</span>
							</a>
						</div>
					</div>

				</div>

				<div class = "searchArea">
					<form ng-submit="addSong()">
						<input type="submit" name="search" placeholder="Search or Add Songs..." class = "style-4" >
					</form>
					<div class = "songList">
						<div class = "songInfo" ng-repeat = "song in main.playlist">
							<div id = "song-{{$index}}">
								<p class = "playlistSong">{{song.name}}</p>
								<p class = "playlistArtist">{{song.artist}}</p>
								<hr class = "fadedLine">
							</div>
						</div>

	<!--           <div class = "songInfo">
							<p class = "playlistSong">{{main.lastPlayedTitle}}</p>
							<p class = "playlistArtist">{{main.lastPlayedArtist}}</p>
							<hr class = "fadedLine">
						</div> -->
					</div>
				</div>



			</div>


			<h1>SoundCloud API usage &mdash; JavaScript SDK</h1>

			<button id="embedTrack">Embed Track</button>
			<div id="player"></div>
		</script>
	</body>

<!--
	<head>
		<title>Jam!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script src="mainController.js"></script>
		<scipt src="./js/index.js"></script>
	</head>

	<body>
		<ui-view></ui-view>

		<script type="text/ng-template" id="/home.html">
			<div class="page-header">
				<h1>Welcome to Jam!</h1>
			</div>

			<div ng-repeat="song in songs | orderBy: '-upvotes'">
				<span ng-click="incrementUpvotes(song)">^</span>
				{{song.spotifyId}} - upvotes: {{song.upvotes.length}}
			</div>

			<form ng-submit="addSong()">
				<input type="text" placeholder="Spotify Id" ng-model="sid"></input>
				<button type="submit">Add Song</button>
			</form>

			<div>
				<button ng-click="reset()">Reset DB</button>
			</div>
		</script>
	</body>

-->
</html>
